.frisbee{
	width: 282px;
	height: 113px;	
/*	position: relative;
	left: 150px;
*/
}
.textFrisbee{
	font-size: 16px;
	position: relative;
	left: 50px; 

}

.imgFrisbee3{
	width: 393px;
	height: 393px;
	display: block;
	position: relative;
	left: 630px;
	top: 450px;
}

.imgFrisbee1{
	width: 430px;
	height: 430px;
	position: relative;	
	left: -170px;
	top: 25px;
}

.imgFrisbee2{
	width: 399px; 
	height: 399px;
	position: relative;
	left: -199px;
	top: 30px;
}

