.logoFrisbee{
	width: 282px;
	height: 113px;	
	position: relative;
	left: 550px;
	top: 50px;

}

.textFrisbee{
	/*font-size: 18px;*/
	position: relative;
	top: -700px;

}


.imgFrisbee3{
	width: 393px;
	height: 393px;
	display: block;
	position: relative;
	left: 580px;
	top: 70px;
}

.imgFrisbee1{
	width: 430px;
	height: 430px;
	position: relative;	
	left: -120px;
	top: -350px;
}

.imgFrisbee2{
	width: 399px; 
	height: 399px;
	position: relative;
	left: 240px;
	top: -750px;
}

.btn{
	position: fixed;
	left: 92%;
	top: 650px;
	cursor: pointer;
	background-color: rgba(0,0,0, 0.45); 
	border-radius: 12px;

}
.btn:hover{
	background-color: rgba(177, 172, 172, 0.68);
}

#materialbox-overlay{
	background-color: rgba(8, 8, 8, 0.65);
}


.small {
	max-width: 25%;

}

.medium {
	max-width: 50%; 
}

.logoHead {
	width:15% 
}
p { 
   	font-family:'Indie Flower';
   	font-weight: normal; 
   	font-style: normal; 
	font-size: 170%; 
}

/*partie presentation entreprise*/

.presentation{
	font-family: 'Lovers Quarrel', cursive;
}
.bod{
	background-image:linear-gradient(to left, white, rgba(192, 192, 192, 0.46));
	
}
/*.preSociete{
	display: flex;
	flex:  center;
}
*/.debrief{color: DarkSlateGray;
	/*font-size: large;*/

}

.zoom.me
.ultimateFrisbee{
	background-image:linear-gradient(60deg, #edd9ff, #bfdfff);

}
.zoom.medium:hover{
	max-width: 100%; 
	margin: 0;

}

footer img{
	
	position: relative; ;
	float: right;
	bottom: 2.25em;
	margin: 0.5em;
	size: 4em;
	width: 2.5em;
	right: 1em;

}

.page-footer{
	height: 50px;
	overflow: hidden;
}

.tof, .tofe, .boome, .friz, .paysage{border-radius: 20px;
}
.carousel{

border-radius: 50%;
background-image:circle-gradient( white, rgba(192, 192, 192, 0.46));
}

#sidenav-overlay{
	position: fixed;
	left: 300px;
}

/*.nav-wrapper{
	position: fixed;
	top: 10px,
}*/
