.frisbee{
	width: 282px;
	height: 113px;
	/*position: absolute;
	top: 20%;
	left: 50%;*/	

}
.boomerang{
	background: image("photo/paysage/image3.JPG") ;
}
.textFrisbee{
	font-size: 16px;
}
.small {
	max-width: 70%;

}
.medium-long {
	max-width: 155%;
	max-height: 170%;  
}
.medium-long-right {
	border-left: 40%;
	max-width: 200%;
	max-height: 170%;  
}
.medium {
	max-width: 150%; 
}
.boomerang-text {

	font-family: "Gloria Hallelujah";
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;

}
.boomerang-text-high {

	font-family: "Gloria Hallelujah";
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;

}

p { 
   font-family: 'DashleyRegular'; 
   font-weight: normal; 
   font-style: normal; 
}