body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background-image:linear-gradient(to left, white, rgba(192, 192, 192, 0.46));
	}

footer {
	background-image:linear-gradient(to left, white, rgba(192, 192, 192, 0.46));
}

main {
	flex: 1 0 auto;
	}


.logoHead {
	width:15% 
}

.btn{
	position: fixed;
	left: 92%;
	top: 650px;
	cursor: pointer;
	background-color: rgba(0,0,0, 0.45); 
	border-radius: 12px;
}

.btn:hover{
	background-color: rgba(177, 172, 172, 0.68);
}

#materialbox-overlay{
	background-color: rgba(8, 8, 8, 0.65);
}



.logoHead {
	width:15% 
}

p { 
	font-family: 'Crimson Text', serif;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Comfortaa', cursive;*/
	/*font-family: 'Dosis', sans-serif;*/
	/*font-family: 'Neucha', cursive;*/
	/*font-family: 'Architects Daughter', cursive;*/
	/*font-family: 'Kalam', cursive;*/
	/*font-family: 'Coming Soon', cursive;*/
	/*font-family: 'Caveat', cursive;*/
	/*font-family: 'Kavivanar', cursive;*/
	/*font-family: 'Dekko', cursive;*/
	/*font-family: 'Sniglet', cursive;*/
   	font-weight: normal; 
   	font-style: normal; 
	font-size: 170%; 
}

/*partie presentation entreprise*/

.presentation{
	font-family: 'Lovers Quarrel', cursive;
}
	
	
.debrief{color: DarkSlateGray;
}

.zoom.me
.ultimateFrisbee{
	background-image:linear-gradient(60deg, #edd9ff, #bfdfff);
}

.zoom.medium:hover{

	max-width: 100%; 
	margin: 0;
}


.textFrisbee{
	position: relative;
}


.carousel img{

	border-radius: 20%;
}


.carousel{

	border-radius: 50%;
	background-image:circle-gradient( white, rgba(192, 192, 192, 0.46));
}


.middle{
	margin-top: 51%
}

#sidenav-overlay{
	position: fixed;
	left: 300px;
}
.logolink {
	
	height: 80%;
	width: 55%;
	
}

.logolinkyt {
	
	height: 100%;
	width: 100%;
	
}

i{
	color: grey;
}

.separation {

	background-color: transparent;
	box-shadow: none;
}

.drapeau-flag{
	position: fixed;
    top: 15px;
    right: 0px;

}